<extend name="Base/common" />

<block name="style">
  <link href="__CSS__/page/user-style.css" rel="stylesheet">
  <link href="__CSS__/page/teacher-style.css" rel="stylesheet">
  <link href="__CSS__/module.css" rel="stylesheet">
</block>

<block name="header">
</block>

<block name="container">
   
  <present name="userinfo">
    <assign name="personnel" value="$userinfo" />
    <present name="teach">
      <assign name="personnel.type" value="1" />
    </present>
    <!--载入个人简介 Stater-->
    <include file="Public/personal-details" />
    <!--载入个人简介 End-->
  </present>
  
  <!--模块二 Stater-->
    <div class="row">
      <div class="col-md-2 ">
        <article  class="indexMain" >
          <!--载入个人简介导航列表 Stater-->
          <include file="Public/personal-list-nav" />
          <!--载入个人简介导航列表 End-->
        </article>
      </div>
      <div class="col-md-10">
        <article  class="indexMain" >
          <ul id="myTab" class="nav nav-tabs">
            <notempty name="teach">
                <li class="active">
                  <a href="#play_video" data-toggle="tab" data-url-range="internal">视频观看记录</a></li>
                
                <li >
                  <a href="{:U('Home/User/videoDetailsUp')}" data-toggle="tab" data-url-range="external">视频上传</a></li>
               <else/>
                <li class="active">
                  <a href="#play_video" data-toggle="tab" data-url-range="internal">视频观看记录</a></li>
              </notempty>

            
          </ul>

          <div id="myTabContent" class="tab-content">
            <section class="tab-pane fade in active" id="play_video">
                <div class="data-table table-striped">
                  <table>
                    <thead>
                      <tr>
                        <th>视频名称</th>
                        <th>授课讲师</th>
                        <th>观看时间</th>
                        <th>观看状态</th>
                      </tr>
                    </thead>
                    <tbody>
                      <notempty name="list">
                      <volist name="list" id="order">
                        <tr>
                          <td>{$order.title}</td>
                          <td>
                             <notempty name="personnes">
                                <foreach name="personnes" item="vo" key="k">
                                    <eq name="vo.id" value="$order.narrator">{$vo.name}</eq>
                                </foreach>
                            </notempty> 
                          </td>

                          <td>{$order.create_time|date='Y-m-d H:i:s',###}</td>
                          <td>
                            <switch name="order.status">
                              <case value="1">正常</case>
                              <default />不正常
                              </switch></td>
                        </tr>
                      </volist>
                      <else/>
                      <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
                      </notempty>
                    </tbody>
                  </table>
        
                  <!-- 分页 -->
                  <div class="page">{$_page}</div>
                </div>
            </section>
            <section class="tab-pane fade" id="update_video">
              
            </section>
          </div>
        </div>
      </article>
    </div>
    <!--模块二 End-->
</block>

<block name="side"> </block>
<block name="script">
	<script type="text/javascript">
    $('#myTab a').click(function(e) {
        //$("img")
         //$(this).attr("href");
        //$('#myTab a[href="#profile"]').tab('show')
        var range = $(this).attr("data-url-range");
        if(range == "external"){
          location.href = $(this).attr("href");
        }
        else{
          $(this).tab('show');
        }
        
    });

	</script>

</block>
