<extend name="Base/common"/>

<block name="style">
	<link href="__CSS__/page/index-style.css" rel="stylesheet">
</block>

<block name="header">
   <include file="Public/carousel" /> 
</block>

<block name="container">
    <section class="row demo-row">
            <div class="text-line gray">
                <h5><span>主题活动</span></h5>
                <div class="line"></div>
              </div>
        </section>
        
        <!--横向层二Start-->
        <section class="row demo-row" >

            <!-- Cx标签 statr-->
            <foreach name="subjectActivity" item="vo" key="k" length="ln">
                <div class="col-md-4">
                  <article class="activity-item">
                    <div class="activity-img">
                      <a href="{:U('Activity/index')}{$vo.link}" class="activity-title" >
                        <img style="background: url(__IMG__{$vo.img}) no-repeat center;" height="100%" width="100%">
                      </a>
                     </div>
                    <div class="activity-info"> 
                      <div class="activity-title">
                        <a href="{:U('Activity/index')}{$vo.link}">{$vo.title}</a><hr/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>{$vo.summary}</span>
                      </div>
                      
                      <div class="activity-button hidden">
                        <a class="btn btn-info btn-large btn-block" href="{:U('Activity/index')}{$vo.link}"><span><b>凑个热闹</b></span></a>
                      </div>
                    </div>
                  </article>
                </div>
            </foreach>
            <!-- Cx标签 end-->
        </section>
        <!--横向层二End-->
    
      <section class="row demo-row">
        <div class="text-line gray">
            <h5><span>名师风采</span></h5>
            <div class="line"></div>
          </div>
      </section>
      <!--横向层三Start--> 
      <section class="row demo-row" >
        <!-- Cx标签 statr-->
        <foreach name="famousTeach" item="vo" key="k" length="ln">
            <div class="col-md-3">
              <article class="activity-item">
                <div class="activity-img" style="padding-top: 25px; height:220px;">
                  <a href="{:U('Home/Teacher/index',array('id'=>$vo['id']))}" class="activity-title " >
                    <img class="img-circle center-block" src="{$vo.portrait|get_avator='path'}" height="180px" width="210px">
                  </a>
                 </div>
                <div class="activity-info" style="min-height: 110px;"> 
                  <div class="activity-title">
                    <a href="{:U('Home/Teacher/index',array('id'=>$vo['id']))}">{$vo.name}</a><hr/>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>{$vo.synopsis}</span>
                  </div>

                </div>
              </article>
            </div>
        </foreach>
        <!-- Cx标签 end-->
      
      </section>
      <section class="row demo-row">
        <div class="text-line gray">
          <h5 style="font-size: 16px; font-weight: 400;">
              <span class="activity-item" style="border-radius: 16px; padding:4px 12px;border: 1px solid rgb(66, 139, 202);">&nbsp;<a href="{:U('/Home/Information/index#tabVideo3')}">更多</a>&nbsp;</span>
          </h5>
        </div>
      </section>
   
</block>
<block name="script">
    <script>
    $(".activity-item").mouseover(function(){
        $(this).addClass("activity-shadow");
    });
     $(".activity-item").mouseout(function(){
        $(this).removeClass("activity-shadow");
    });
    </script>
</block>
  
